.main-chat
  .group-info
    .group-info__left
      %h2
        test
      %p
        Menmber: name
    = link_to "#", class: "group-info__edit-btn" do
      Edit


  .message-list
    = render @messages


  .message-form
    = form_for [@group, @message] do |f| 
      .form-box
        = f.text_field :content, class: "form-box__text", placeholder: 'type a message' 
        = f.label :image, class: 'form-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'form-box__image__file'
      = f.submit 'Send', class: 'form-submit'